@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.ttf');
}


body {
    font: 14px Montserrat !important;
    background-color: #3B3B3B;
}

h1 {
    text-align: center;
    margin-top: 60px;
    color: #8e8e8e;
}


h3 {
    color: #EEEEEE;
}

li {
    display: inline;
}

a {
    color: #D9D9D9;
}

p {
    color: #ffffff;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #52575e;
}
.logo {
    height: 60px;
    float: left;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    margin: auto;
    padding: 100px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right {
    float: right;
    display: inline-block;
    text-align: right;
}

.homepageImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: fit-content;
    height: 300px;
}

.productsbanner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    height: 300px;
}


.contactList {
    float: left;
    width: 20%;
    margin-top: 6px;
    padding: 20px;
}

.bodylink {
    color: #bcccd3;
}


.map {
}

.mapimage {
    width: 70%;
}

.productimage {
    width: 50%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.container {
    display: flex;

}
.container > div {
    flex: 1;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
    height: fit-content;
    width: 60%;
}

.container > div > h4 {
    color: #EEEEEE;
    text-align: center;
}

.container > div > h5 {
    color: #EEEEEE;
    text-align: left;
    margin-left: 20px;
}


.container > div > p {
    text-align: center;
}

.dropdown{
    display: none;
}

.mobile-link {
    display: none;
}

@media only screen and (max-width: 600px) {

    .mobile-link{
        display: flex;
    }

    .dropbtn {
        background-color: #000000;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropbtn:hover, .dropbtn:focus {
        background-color: #000000;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #7a7a7a;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #e8e8e8;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {background-color: #5d5d5d;}

    .show {display: block;}


    .content-wrapper{
        min-width: 100%;

    }
    .header-wrapper{
        justify-content: center;
    }
    .mobile-display-none{
        display: none;
    }
    .mobile-display{
        display: block;
    }
}